<h1>Welcome <%= @user.alias %>!</h1>

<form action="/ideas" method="post">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			
    		<label for="content"></label>
    		<input id="content" type="text" name="content" placeholder="Post something witty here!">
  			

			<button type="submit">Idea!</button>
</form>
<p>
<% @ideas.each do |idea| %> 
<p><a href="/profile/<%= idea.user.id %>/<%= idea.id %>"><%= idea.user.alias %> </a> says: </p><textarea cols="100" rows="2"> <%= idea.content %> </textarea>
 <% if idea.users_liked.include?(current_user) %>
    <form action='/likes/<%= idea.find_like_id current_user%>' method='post'>
      <input type='hidden' name='_method' value='delete'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type='submit' value='Unlike'>
    </form>
  <% else %> 

<form action='/likes_of_user' method='post'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type='hidden' name='idea_id' value='<%= idea.id %>'>
      <input type='submit' value='Like'>
    </form>
  <% end %> 
<a href="/ideas/<%= idea.id %>"><%= idea.likes.count %> people</a> like this
<% if current_user == idea.user %>
    			<form action='/ideas/<%= idea.id %>/destroy' method='post'>
      				<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      				<input type='hidden' name='_method' value='delete'>
      				<input type='submit' value='Delete'>
    			</form>
 <% end %>
 <% end %>
 </p>