<a href="/ideas">Bright Ideas</a>	
<fieldset>
	<legend>Profile page</legend>
	<% @ideas.each do |idea|%>
	<p>
		<label for="name">Name: <%=idea.user.name%> 
		</label>
	</p>
	<% end %>
	<p>
		<label for="alias">Alias: <%= @user.alias%>
		</label>
	</p>
	<p>
		<label for="email">Email: <%= @user.email%>
			
		</label>
		<hr>
	</p>
	<p>Number of posts: <%= @ideas_of_user.count %></p>
	<p>Total number of likes: <%= @likes.count %></p>
</fieldset>